<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Home</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<!--    <link href='http://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo|Meie+Script' rel='stylesheet' type='text/css'>-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript" src="fetch.js" defer></script>
</head>
<body>
{{#each numberOfCards}}
    <h1>{{this}}</h1>
{{/each}}
<div class="header">
    <div class="top-header">
        <div class="wrap">
            <div class="top-header-left">
                <ul>
                    <li class="#"><a href="#">Home</a></li> |
                    <li><a href="#">Contact Us</a></li> |
                    <li><a href="#">Our Team</a></li>
                </ul>
            </div>
            <div class="top-header-right">
                <!--                <p><img src="images/c-icon.png" title="contact-info">CALL NOW!</p>-->
                <!--                <p><span>(614) 4772-425</span></p>-->
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="header-bottom">
    <div class="wrap">
        <div class="logo">
            <img src="images/laoganma_literal.png">
            <div>
            <a href="index.handlebars">HAILONG MANSION</a>
            </div>
        </div>
        <div class="login-box">
            <div class="login-outer">
                <div class="login-inner">
                    <p class="login-msg">Good Morning/Noon/Afternoon  {{username}}! </p>
                    <a>
                        <button id="login-button" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">Login</button>
                    </a>
                    <ul class="third-login">
                        <li class="sns fb">
                            <span>icon_1</span>
                        </li>
                        <li class="sns twitter">
                            <span>icon_2</span>
                        </li>
                    </ul>
                    <div class="login-float-box">
                        <div id="light" class="white_content">
                            <form method="post">
                                <p><label class="label_input">Username</label><input type="text" id="username" class="text_field"/></p>

                                <p><label class="label_input">Password</label><input type="password" id="password" class="text_field"/></p>
                                <input type="checkbox" onclick="checkbox()">Show Password

                                <div id="login_control">
                                    <input type="button" id="btn_login" value="LOGIN" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none';"/>
                                    <input type="button" id="btn_register" value="REGESTER"/>
                                    <a id="forget_pwd" href="forget_pwd.html">忘记密码？</a>
                                </div>
                            </form>
                            <img src="images/delete_icon.png" type="click" width = "20px" height="20px" style="position:absolute; right:0px;top:0px" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none';">
                        </div>
                        <div id="fade" class="black_overlay"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"> </div>

        <div class="menu">
            <ul class="nav">
                <li  class="test"><a href="/">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="banner-content">
    <div class="wrap">
        <div class="banner-content-text">
            <div class="banner-left">
                <h1>Top Websites</h1>
                <button class="refresh_button" type="button" onclick="setTimeout(location.reload.bind(location), 50)">refresh</button>
                <p>Top six Websites from the Websites Worldwide</p>
            </div>
            <div class="banner-right">
                <p>News Title dolor sit amet, website name adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit </p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="banner">

            <div class="section group">
                <div class="cont span_2_of_c" id="leftPanel">

                    <div class="hidden" id="hidden">
                        <div class="web_card">
                            <div class="delete_icon hidden" style="position:relative" >
                                <img src="images/delete_icon.png"  type="click" width = "20px" height="20px" style="position:absolute; right:0px;top:0px" >
                            </div>
                            <div class="desc">
                                <h3><a href="{{mainSite}}">{{siteName}}</a></h3>
                                <ul>
                                    {{#each subSites}}
                                        <div class="web_card_subSites">
                                            <a href="{{url}}">
                                                {{title}}
                                            </a>
                                        </div>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="hidden" id="hidden">
                        <div class="web_card">
                            <div class="delete_icon hidden" style="position:relative" >

                                <img src="images/delete_icon.png"  type="click" width = "20px" height="20px" style="position:absolute; right:0px;top:0px">
                            </div>
                            <div class="desc">
                                <h3><a href="{{mainSite}}">{{siteName}}</a></h3>
                                <ul>
                                    {{#each subSites}}
                                        <div>
                                            <a href="{{url}}">
                                                {{title}}
                                            </a>
                                        </div>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>

                    {{#each cards}}
                        <div class="lsidebar" id="{{mainSite}}">
                            <div class="web_card">
                                <div class="delete_icon hidden" style="position:relative" >

                                    <img src="images/delete_icon.png"  type="click" width = "20px" height="20px" style="position:absolute; right:0px;top:0px">
                                </div>
                                <div class="desc">
                                    <h3><a href="{{mainSite}}">{{siteName}}</a></h3>
                                    <ul>
                                        {{#each subSites}}
                                            <div>
                                                <a href="{{url}}">
                                                    {{title}}
                                                </a>
                                            </div>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {{/each}}

                    <!--<div class="clear"></div>-->

                    <!--<div class="clear"></div>-->

                    <!--<div class="clear"></div>-->
                </div>
                <div class="rsidebar span_1_of_c">
                    <div class="head">
                        <h2>News & Events</h2>
                    </div>
                    <div class="right-box">
                        {{#each lists}}
                            <div class="right-box-grid">
                                <div class="right-box-grid-img">
                                    <a href="#"><img src="images/pic8.jpg" title="img"></a>
                                </div>
                                <div class="right-box-grid-title">
                                    <h5><a href="{{mainSite}}">{{siteName}}</a></h5>
                                    <p>{{title}}</p>
                                </div >
                                    <img class="right-box-grid-button hidden" src="images/add_icon.png" type="button" style="float: left; position:relative; left: 0px; top: -2px;">
                                <div class="clear"> </div>
                            </div>
                        {{/each}}
                    </div>
                    <div>
                        <text><a href="/">Show More ...</a></text>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="wrap">
        <div class="footer_grides">
            <div class="footer_grid1">
                <div class="grid-bot">
                    <div class="grid1-l-img">
                        <img src="images/f-icon.png" alt="">
                    </div>
                    <div class="grid1-l-desc">
                        <p>New Services</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="footer-nav">
                    <ul>
                        <li><a href="">Link</a></li>
                        <li><a href="">Link</a></li>
                        <li><a href="">Link</a></li>
                        <li><a href="">Link</a></li>
                        <li><a href="">Link</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer_grid2">
                <div class="grid-bot">
                    <div class="grid1-l-img">
                        <img src="images/f-icon1.png" alt="">
                    </div>
                    <div class="grid1-l-desc">
                        <p>Testimonails</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="footer-desc">
                    <p>ibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
                </div>
            </div>
            <div class="footer_grid3">
                <h3>Our Company</h3>
                <div class="f_menu">
                    <ul>
                        <li><a href="#">About your Company News Title dolor sit amet, website name adipiscing elit, sed diam nonummy nibh eui</a></li>
                        <li><a href="#">Terms &amp; conditions News Title dolor sit amet, website name adipiscing elit, sed diam nonummy nibh eui</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer_grid4">
                <h3>Contact</h3>
                <div class="img_list">
                    <ul>
                        <li><span>+**-***-******</span></li>
                        <li><span>+**-***-******</span></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="wrap">
        <div class="copy">
            <p>Copyright &copy; 2019</p>
        </div>
    </div>
</div>

</body>
</html>
